.wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.text-section 
{
    color: white;
    flex: 1;
    margin-right: 0px;
}

.image-section 
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-section img 
{
    max-width: 100%;
    height: auto;
}

.text-section h2
{
    background: linear-gradient(to right, red, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section p
{
    font-size: 20px;
}

.btn 
{
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    color: rgb(148, 148, 148);
    transition: .5s;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.btn:hover 
{
    background-color: gainsboro;
    border: 1px solid white;
    background-color: black;
    color: white; 
}

.no-underline 
{
    text-decoration: none;
    color: black;
}

.no-underline:hover,
.no-underline:focus {
    text-decoration: none;
    color: inherit;
}
